.auth-background-img {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #ffffff 0%,
        #B8B8B8 100%
    );
    -fx-background-image: url("../assets/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.background-transparent {
    -fx-background-color: transparent;
}

.auth-container {
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0.2, 3, 3);
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

#login-container {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #9ACBD0 0%,
        #DFD0B8 100%
    );
}

#register-container {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 0%,
        #48A6A7 0%,
        #006A71 100%
    );
}

.text-style {
    -fx-font-family: "Arial";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.1, 2, 2);
}

.text-color-darkgreen   { -fx-fill: #006A71; }
.text-color-darkgreen2  { -fx-fill: #253439; }
.text-color-darkblue    { -fx-fill: #222831; }
.text-color-cream       { -fx-fill: #F2EFE7; }
.text-color-cream2      { -fx-fill: #DFD0B8; }
.text-color-lightGreen  { -fx-fill: #9ACBD0; }

#text-register-login {
    -fx-font-size: 64px;
    -fx-font-weight: bold;
}

#button-auth {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #F2EFE7 0%,
        #DFD0B8 100%
    );
    -fx-text-fill: #222831;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.1, 2, 2);
}
#button-auth:hover {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #c9c4b5 0%,
        #a7987f 100%
    );
}

#button-opsion {
    -fx-background-color: transparent;
    -fx-text-fill: #222831;
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.1, 2, 2);
}
#button-opsion:hover {
}

#textfield {
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 12px;
    -fx-padding: 10px;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0.1, 2, 2);
}

.img-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.1, 3, 3);
}
