.auth-box {
    -fx-background-color: #253439;
    -fx-background-radius: 30px;
    -fx-background-insets: 0;
    -fx-padding: 40px 75px;
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.2),20,0.5,0,10);
}

.textfield-background {
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 10px;
  -fx-border-color: #B0B0B0;
  -fx-border-width: 1px;
  -fx-border-radius: 10px;
  -fx-padding: 4px 8px;
}

#buttonAuth {
    -fx-text-fill: #F2EFE7;
    -fx-background-color: #48A6A7;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.2),20,0.5,0,10);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

#buttonAuth:hover{
  -fx-background-color: #DFD0B8;
  -fx-text-fill: #253439;
}