/* PANEL SECTION */
#panel-kiri {-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 20, 0.1, 5, 0);}
#panel-kiri1 {-fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #9ACBD0, #DFD0B8);}
#panel-kiri2 {
    -fx-background-color: white;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0.1, 5, 0);}

#panel-kanan {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 20, 0.1, -5, 0);}
#panel-kanan-atas {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0.1, 5, 0);}

/* BACKGROUND SECTION */
.background-transparent {-fx-background-color: transparent;}
#background-white-gradient {-fx-background-color: linear-gradient(to left bottom, #ececec, #dcdcdc);}
#main-pane {
    -fx-background-color: linear-gradient(to right, #9ACBD0, #DFD0B8);
    -fx-background-radius: 30px;}


/* IMAGE EFFECTS */
.image-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 3, 3);
}


/* BUTTON SECTION */
.btn-style {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: 300;
    -fx-alignment: center-left;
    -fx-text-fill: #474747;
}
.btn-box {-fx-background-color: transparent;}

.btn-box:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 0);
}

.btn-image {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 0);
}

.btn-image:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button-opacity {-fx-opacity: 60%;}

/* BUTTON ICONS */
#btn-home {-fx-background-image: url("../assets/home-icon.png");}
#btn-setting {-fx-background-image: url("../assets/setting-icon.png");}
#btn-bell {-fx-background-image: url("../assets/bell-icon.png");}
#btn-chat {-fx-background-image: url("../assets/chat-icon.png");}
#btn-logout {-fx-background-image: url("../assets/logout-icon.png");}
